/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2020, 21:53:31
    Author     : Luciano
*/

.btn-excluir{
    background-color: red !important;
}
.btn-excluir:hover{
    background-color: coral !important;
}